<meta charset="utf-8" />
<title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'partials/metadata.html.twig' %}

<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
<link rel="canonical" href="{{ page.url(true, true) }}" />

{% block stylesheets %}
  {% do assets.addCss('https://unpkg.com/aos@2.3.1/dist/aos.css', 102) %}
  {% do assets.addCss('https://fonts.googleapis.com/css?family=Comfortaa', 101) %}
  {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans', 101) %}
  {% do assets.addCss('https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css') %}
  {% do assets.addCss('theme://css/main.css', 100) %}
{% endblock %}
{{ assets.css() }}

{% block javascripts %}
  {% do assets.addJs('https://unpkg.com/aos@2.3.1/dist/aos.js', 102) %}
{% endblock %}
